Source: gxde-control-center
Section: admin
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>,shenmo <shenmo@spark-app.store>
Build-Depends: debhelper (>= 9),
 pkg-config,
 dpkg-dev,
 libx11-dev,
 cmake,
 libqt6svg6-dev,
 libdtk6core-dev,
 libdtk2widget6-dev,
 libdframeworkdbus-qt6-dev,
 libgsettings-qt6-dev,
 qt6-tools-dev-tools,
 libgxde-network-utils-qt6-dev (>= 1.0.0),
 libdtk6core-bin,
 libkf6networkmanagerqt-dev,
 qt6-base-private-dev,
 libxrandr-dev,
 libmtdev-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 libegl1-mesa-dev,
 libxcb-ewmh-dev,
 qt6-multimedia-dev
Standards-Version: 3.9.5
Homepage: https://gitee.com/GXDE-OS/gxde-control-center

Package: gxde-control-center
Architecture: any
Provides: dde-control-center
Depends: ${shlibs:Depends},
 ${misc:Depends},
 ${dist:Depends},
 gxde-account-faces,
 deepin-daemon,
 gxde-api (>=2.92.1),
 xkb-data,
 deepin-installer-timezones,
 passwd,
 gxde-top-panel,
 systemd-timesyncd,
  libkf6networkmanagerqt6,
 libdframeworkdbus-qt6,
  libgxde-network-utils-qt6,
 garma,
 gxde-app-installer,gxde-app-upgrader (>= 1.6.5),gxde-app-uninstaller,
 gxde-shell-tools,
 transhell,
 wireplumber,
 libspa-0.2-bluetooth,
Recommends: 
 netselect,
 x11vnc,
 gxde-live-local,
 fantascene-dynamic-wallpaper | fantascene-gxde,
 deepin-deepinid-client,
Suggests: redshift
Conflicts:
 dde-control-center-plugin-weather,
 dde-control-center-plugin-notify,
 dde-control-center
Replaces:
 dde-control-center-plugin-weather,
 dede-control-center-plugin-notify,
 dde-control-center
Description: New control center for GXDE Desktop Environment
 GXDE Control Center is the control panel of GXDE Desktop Environment.
